<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Param_1" value="Параметр 1111" />
    <add key="Param_2" value="Параметр 2222" />
    <add key="Param_3" value="Параметр 3333" />
    <add key="Param_4" value="Параметр 4444" />
    <add key="Param_5" value="Параметр 5555" />
    <add key="FileNameCSV" value="zsulog.csv" />
  </appSettings>
</configuration>